<section class="wrapper">
  <div class="container">
    <div class="content">
      <h2 class="heading2">美しき世界へようこそ</h2>
      <h2><p>日常で発見した綺麗なものを<br>みんなで共有しませんか？</p>
    </div>
  </div>
</section>

<section class="wrapper2">
  <div class="container3">
    <div class="content2">
      <div class="content2-item">
        <img src="/assets/publicdomainq-0003144gjh.jpeg" class="image">
      </div>    
      <div class="content2-item">
        <div class="text">
          <h2 class="heading2"><a href="/photos/new">豊かな自然</a></h2>
            <h2><p>そこには豊かな自然がある。<br>ここにはまだ豊かな自然が残っている。</p>
          </div>
        </div>
      </div>
  </div>
</section>

<section class="wrapper3">
  <div class="container3">
    <div class="content3">
      <div class="content3-item">
        <img src="/assets/HI75_minatokunobiru_TP_V.jpeg" class="image">
      </div>    
      <div class="content3-item">
        <div class="text">
          <h2 class="heading2"><a href="/searches/new">文化的な街並み</a></h2>
            <h2><p>そこには文化的な街並みがある。<br>ここにも文化的な街並みが存在する</p>
          </div>
        </div>
      </div>
  </div>
</section>

<section class="wrapper4">
  <div class="container">
      <h5><div class="heading2">新規投稿一覧</h5>
        <% @photos.each do |photo| %>
          <%= link_to photo_path(photo.id) do %>
            <%= image_tag photo.image.variant(resize: '400x400', gravity: "center", crop: "300x300+0+0" ) if photo.image.attached? %><br>
            <h6><%= photo.name %>   
          <% end %>
        <% end %>
      <% end %>
    </div> 
  </div>  
</div>

<section class="footer">
    <div class="nav-lists2">
      <%= form_with(url: search_photos_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
</section>





