<div class="contents-new">
  <h1><%= @photo.name %></h1>
  <%= image_tag @photo.image.variant(resize: '400x400', gravity: "center", crop: "300x300+0+0" ) %>
    <div class="heading2">
      <%= link_to '編集する ▶︎', edit_photo_path(@photo.id), method: :get %><br>
      <%= "or" %><br>
      <%= link_to '削除する ▶︎', photo_path(@photo.id), method: :delete %>
    </div>
    <div class="container-new">
    <% if user_signed_in? %>
      <%= form_with(model: [@photo, @comment], local: true) do |form| %>
        <%= form.text_area :content, placeholder: "コメントする", rows: "5" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.content %>
        </p>
      <% end %>
    </div>
  </div>
</div>
