<div class="contents-new">
<div class="container">
  <h1><%= @photo.name %></h1>
  <%= image_tag @photo.image.variant(resize: '400x400', gravity: "center", crop: "300x300+0+0" ) %>
  <script type="text/javascript">
     function initMap() {
       var test = {lat: <%= @photo.latitude %>, lng: <%= @photo.longitude %>};
       var map = new google.maps.Map(document.getElementById('map'), {
                 zoom: 15, 
                 center: test
                 });
       var transitLayer = new google.maps.TransitLayer();
       transitLayer.setMap(map);
       var contentString = '住所：<%= @photo.address %>';
       var infowindow = new google.maps.InfoWindow({
         content: contentString
       });
       var marker = new google.maps.Marker({
                     position:test,
                     map: map,
                     title: contentString
                   });
       marker.addListener('click', function() {
         infowindow.open(map, marker);
       });
     }
   </script>
   <script async defer
             src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
   </script>
   <style type="text/css">
     #map { height: 200px;
           width: 70%;}
   </style>
   <div id="map"></div>


    <div class="heading2">
    <% if user_signed_in? && current_user.id == @photo.user_id %>
      <%= link_to '編集する ▶︎', edit_photo_path(@photo.id), method: :get %><br>
      <%= "or" %><br>
      <%= link_to '削除する ▶︎', photo_path(@photo.id), method: :delete %>
    <% else %>
      <%= form_with(model: [@photo, @comment], local: true) do |form| %>
        <%= form.text_area :content, placeholder: "コメントする", rows: "5" %><br>
        <%= form.submit "SEND" %>
      <% end %>
      <h6><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
    <% end %>
    <div class="comments">
      <h6>＜コメント一覧＞</h6>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.content %>
        </p>
      <% end %>
    </div>
  </div>
</div>
